parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$provider of method SerendipityHQ\\\\Bundle\\\\UsersBundle\\\\Manager\\\\UsersManagerRegistry\\:\\:hasProvider\\(\\) expects string, array\\<string\\>\\|bool\\|int\\|string given\\.$#"
			count: 1
			path: src/Command/UsersCreateCommand.php

		-
			message: "#^Parameter \\#1 \\$provider of method SerendipityHQ\\\\Bundle\\\\UsersBundle\\\\Command\\\\UsersCreateCommand\\:\\:create\\(\\) expects string, array\\<string\\>\\|bool\\|int\\|string given\\.$#"
			count: 1
			path: src/Command/UsersCreateCommand.php

		-
			message: "#^Parameter \\#2 \\$unique of method SerendipityHQ\\\\Bundle\\\\UsersBundle\\\\Command\\\\UsersCreateCommand\\:\\:create\\(\\) expects string, array\\<string\\>\\|string given\\.$#"
			count: 1
			path: src/Command/UsersCreateCommand.php

		-
			message: "#^Parameter \\#3 \\$pass of method SerendipityHQ\\\\Bundle\\\\UsersBundle\\\\Command\\\\UsersCreateCommand\\:\\:create\\(\\) expects string, array\\<string\\>\\|string given\\.$#"
			count: 1
			path: src/Command/UsersCreateCommand.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Command/UsersCreateCommand.php

		-
			message: "#^Call to an undefined method SerendipityHQ\\\\Bundle\\\\UsersBundle\\\\Property\\\\HasPlainPasswordInterface\\|Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\:\\:getPlainPassword\\(\\)\\.$#"
			count: 1
			path: src/Command/UsersCreateCommand.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$event$#"
			count: 1
			path: src/Doctrine/UserEncodePasswordListener.php

		-
			message: "#^Call to an undefined method SerendipityHQ\\\\Bundle\\\\UsersBundle\\\\Property\\\\HasPlainPasswordInterface&Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\:\\:setPassword\\(\\)\\.$#"
			count: 1
			path: src/Doctrine/UserEncodePasswordListener.php

		-
			message: "#^PHPDoc tag @param for parameter \\$provider with type string\\|null is not subtype of native type string\\.$#"
			count: 1
			path: src/Event/UserCreatedEvent.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\UsersBundle\\\\Manager\\\\Exception\\\\UsersManagerException\\:\\:providerMustBeSpecified\\(\\) has parameter \\$availableProviders with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Manager/Exception/UsersManagerException.php

