includes:
    - .baseline-phpstan.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - vendor-bin/phpunit/vendor/autoload.php
    paths:
        - src
        - tests
    excludePaths:
        - */src/DependencyInjection/Configuration.php
        - */tests/bootstrap.php
    ignoreErrors:
        -
            message: "#^Strict comparison using === between false and true will always evaluate to false\\.$#"
            count: 1
            path: src/Validator/RolesValidator.php
        # Remove once fixed in PHPStan https://github.com/Aerendir/bundle-users/issues/129
        -
            message: "#^Strict comparison using === between false and string will always evaluate to false\\.$#"
            count: 1
            path: src/Util/PasswordResetTokenGenerator.php

