<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor-bin/phpunit/vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
        bootstrap="tests/bootstrap.php"
        cacheResult="true"
        cacheDirectory="var/cache/phpunit"
>
  <php>
    <env name="KERNEL_CLASS" value="SerendipityHQ\Bundle\UsersBundle\Tests\Fixtures\App\SHQBundleUsersTestKernel"/>
    <env name="APP_ENV" value="test"/>
    <env name="APP_DEBUG" value="1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    <ini name="error_reporting" value="-16385"/>
  </php>
  <testsuites>
    <testsuite name="Serendipity HQ Users Bundle">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <bootstrap class="Zenstruck\Foundry\PHPUnit\FoundryExtension"/>
  </extensions>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory>./src/Resources</directory>
    </exclude>
  </source>
</phpunit>
